# Virtual Environment
.venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/